* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

p {
  color: #0f2336;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0f2336;
}
nav {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__inner {
  width: 1240px;
  height: 50px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
nav .nav_inner_list {
  width: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav_inner_list p {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
nav .nav_inner_list button {
  width: 120px;
  height: 50px;
  color: white;
  background-color: #0f2336;
  border: 1px, solid #0f2336;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

@media all and (max-width: 930px) {
  .nav__inner {
    display: block;
  }
}
@media all and (max-width: 740px) {
  .nav_inner_list {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
  }
}
@media all and (max-width: 350px) {
  .nav__inner_img {
    padding: 40px;
  }
}

/* menu start */

/* .menu {
  display: none;
}
.menu-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.menu-active__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.nav__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_inner_list p {
  margin-bottom: 30px;
}
.nav_inner_list button {
  margin: 10px;
}
.overflow {
  overflow: hidden;
} */
/* menu end */

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.hero {
  display: flex;
  height: auto;
  margin: 70px auto;
}
.hero-left button {
  background-color: #00cccc;
  font-size: 18px;
  font-weight: bold;
  width: 208px;
  height: 60px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 3px 18px 0px #00c9c98c;
}
.hero-left h1 {
  font-size: 55px;
  margin-bottom: 50px;
}
.hero-left {
  width: 50%;
}
.hero-right #Tree {
  width: 732px;
  margin-top: -103px;
}
.hero-right {
  width: 85%;
  position: relative;
}
.hero-right #people {
  position: absolute;
  bottom: 4px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media all and(max-width: 1200px) {
  .hero-left h1 {
    padding: 40px;
    margin: 40px;
    font-size: 30px;
  }
}
@media all and (max-width: 1170px) {
  .hero-left h1 {
    padding: 20px;
  }
}
@media all and (max-width: 1090px) {
  .hero-right {
    width: 45%;
  }
  .hero-right #Tree {
    width: 100%;
  }
  .hero-right #people {
    width: 75%;
  }
}

@media all and (max-width: 992px) {
  .hero-right {
    display: none;
  }
}

.features {
  display: flex;
  justify-content: center;
}

.features .feature {
  width: auto;
  width: 325px;
  margin: 20px 0;
}

.features h2 {
  margin-top: 30px;
}

.features p {
  margin-top: 12px;
  color: #576d81;
  font-size: 16px;
}

.info {
  display: flex;
  align-items: center;
  margin: 130px auto;
  height: 540px;
  background-color: #f4f5f6;
  border-radius: 50px;
}

.info img {
  width: 580px;
  height: 640px;
}
.info__description img {
  width: 109px;
  height: 10px;
  margin-top: 50px;
}

.info .info__description h2 {
  font-size: 40px;
  max-width: 195px;
  margin: 20px 0;
}
.info .info__description p {
  max-width: 414px;
  font-size: 16px;
  color: #576d81;
  line-height: 24px;
}

.benefits {
  width: 100%;
  height: 525px;
  margin: 0 auto;
  max-width: 1440px;
  margin-bottom: 100px;
  background-color: #f4f5f6;
}
.benefits__content {
  display: flex;
  align-items: center;
  position: relative;
}
.benefits__list {
  width: 505px;
  margin-top: -37px;
  display: flex;
  flex-direction: column;
}
.benefits__list_item {
  width: 455px;
  height: 179px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0px 8px 32px 0px #0f23360f;
  border-radius: 8px;
  padding: 25px;
  display: flex;
}
.benefits__list_item img {
  width: 50px;
  height: 50px;
  margin-right: 23px;
}
.benefits__list_item:nth-child(2) {
  align-self: flex-end;
}
.benefits__list_item_desc {
  margin-top: 13px;
  max-width: 310px;
}
.benefits__list_item_desc h2 {
  font-size: 25px;
  margin-bottom: 25px;
}
.benefits__list_item_desc p {
  color: #576d81;
  font-size: 16px;
}
#girl-img {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0px;
  top: -73px;
}

.gifts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  height: 540px;
  background-color: #f4f5f6;
  border-radius: 50px;
  width: auto;
}
.gifts .gifts__description {
  font-size: 16px;
  color: #576d81;
  line-height: 24px;
}
.gifts .gifts__description h2 {
  font-size: 40px;
  max-width: auto;
  margin: 20px 0;
  line-height: 55px;
}
.gifts__description {
  margin-left: 140px;
  margin-top: 129px;
  margin-bottom: 145px;
}

.gifts__description img {
  width: 109px;
  height: 10px;
  margin-top: 50px;
}

.contacts {
  width: 550px;
  height: 320px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.domik {
  margin-left: 197px;
  margin-top: -6px;
}
.contacts__description h2 {
  margin-top: 22px;
  text-align: center;
}
.contacts__description img {
  width: 128px;
  height: 82px;
}
.contacts__description {
  margin-left: 150px;
  width: 687px;
}

.contacts__description h2 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;
}
.contacts__description input {
  background-color: #f0f0f2;
  font-size: 16px;
  font-style: bold;
  line-height: 21px;
  width: 394px;
  height: 55px;
  border-radius: 5px;
  margin-right: 275px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.button {
  font-family: "Roboto", "sans-serif";
  background-color: #00cccc;
  color: #0f2336;
  font-style: 900;
  font-size: 16px;
  line-height: 21.6px;
  width: 149px;
  height: 55px;
  border-radius: 14px;
}
.contacts img {
  margin-right: 150px;
}
footer {
  background-color: #0f2336;
  margin-top: 150px;
  width: 100%;
  height: 297px;
  position: relative;
}
.footer__logo {
  margin-left: 255px;
  margin-top: 55px;
  margin-bottom: 193px;
  width: 129px;
  height: 48px;
}
.leavs-1 {
  position: absolute;
  left: 0;
}
.leavs-2 {
  position: absolute;
  right: 0;
  /* margin-left: 1132px;
  margin-top: 43px; */
}
.description__contants {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.description__footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 400px;
  margin-top: -195px;
}
.description__footer__contacts p {
  font-family: "Roboto" "sans serif";
  color: #00cccc;
  font-style: Bold;
  font-size: 12px;
  line-height: 20.04px;
}
.description__footer__contacts a {
  font-family: "Roboto" "sans serif";
  color: #ffffffb2;
  font-style: 400;
  font-size: 14px;
  line-height: 20px;
}
.footer__description-company {
  display: flex;
  flex-direction: column;
}
.footer__description-support {
  display: flex;
  flex-direction: column;
  margin-left: -55px;
  margin-right: -75px;
}
.footer__description-follow {
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 900px) {
  .footer__logo {
    display: flex;
    flex-direction: column;
  }
}
/* 
.btn_loading {
  background-color: black !important;
}

.btn_fsz_24 {
  font-size: 24px !important;
} */
